## Importing Libraries

In [86]:
%matplotlib inline
from pandas import read_csv
from pandas import get_dummies
import matplotlib.pyplot as plt
from numpy import random
from sklearn.preprocessing import MinMaxScaler
from collections import Counter
from sklearn.neighbors import LocalOutlierFactor

## Loading the Data

In [87]:
data = read_csv("Breast_Cancer.csv", header=0, delimiter=',')
data.shape

(4024, 16)

In [88]:
data.columns

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [89]:
data.head()

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

## Inspection of the Dataset

In [90]:
data.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,14.357107,4.158052,71.297962
std,8.963134,21.119696,8.099675,5.109331,22.921430
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,9.000000,1.000000,56.000000
50%,54.000000,25.000000,14.000000,2.000000,73.000000
75%,61.000000,38.000000,19.000000,5.000000,90.000000
max,69.000000,140.000000,61.000000,46.000000,107.000000

In [91]:
data['Status'].value_counts()

Alive    3408
Dead      616
Name: Status, dtype: int64

## Outlier Detection

In [92]:
local_outlier_factor = LocalOutlierFactor(n_neighbors=20, contamination=0.05)
result = local_outlier_factor.fit_predict(data[['Age', 'Tumor Size','Regional Node Examined','Reginol Node Positive', 'Survival Months']])

outliers = result == -1 
no_outliers = result == 1

Counter(result)

Counter({-1: 403, 1: 3621})

In [93]:
data = data[no_outliers]
data.shape

(3621, 16)

## Normalization

In [94]:
min_max_scaler = MinMaxScaler()
data[['Age','Tumor Size','Regional Node Examined','Reginol Node Positive','Survival Months']] = min_max_scaler.fit_transform(data[['Age','Tumor Size','Regional Node Examined','Reginol Node Positive','Survival Months']])
data.describe()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,3621.000000,3621.000000,3621.000000,3621.000000,3621.000000
mean,0.620943,0.205710,0.364914,0.089439,0.667555
std,0.219825,0.148545,0.203475,0.139875,0.213465
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.461538,0.101449,0.235294,0.000000,0.528302
50%,0.615385,0.166667,0.352941,0.035714,0.679245
75%,0.794872,0.260870,0.500000,0.107143,0.839623
max,1.000000,1.000000,1.000000,1.000000,1.000000

## One Hot Encoding

In [95]:
categorical_cols = ['Race','Marital Status','T Stage ','N Stage','6th Stage','differentiate','Grade','A Stage','Estrogen Status','Progesterone Status']
data = get_dummies(data, columns = categorical_cols)
data.head()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months,Status,Race_Black,Race_Other,Race_White,Marital Status_Divorced,...,Grade_ anaplastic; Grade IV,Grade_1,Grade_2,Grade_3,A Stage_Distant,A Stage_Regional,Estrogen Status_Negative,Estrogen Status_Positive,Progesterone Status_Negative,Progesterone Status_Positive
1,0.512821,0.239130,0.382353,0.142857,0.575472,Alive,0,0,1,0,...,0,0,1,0,0,1,0,1,0,1
2,0.717949,0.442029,0.382353,0.214286,0.698113,Alive,0,0,1,1,...,0,0,1,0,0,1,0,1,0,1
3,0.717949,0.115942,0.029412,0.000000,0.783019,Alive,0,0,1,0,...,0,0,0,1,0,1,0,1,0,1
4,0.435897,0.282609,0.058824,0.000000,0.462264,Alive,0,0,1,0,...,0,0,0,1,0,1,0,1,0,1
5,0.538462,0.130435,0.500000,0.035714,0.830189,Alive,0,0,1,0,...,0,0,1,0,0,1,0,1,0,1

## Saving the Data

In [96]:
random.seed(144)
data = data.sample(frac=1).reset_index(drop=True)
data.to_csv('Breast_Cancer_Processed.csv')